#!/usr/bin/env python3

print('''
/* Stlye Sheet specificly for homepage */

body {
  font-family: Gill Sans, Helvetica, sans-serif;
  font-weight: 100;
  margin: 0px;
}

h1 {
  padding: 10px;
  padding-bottom: 4px;
  padding-top: 20px;
  margin: 0px;
  font-weight: 100;
  letter-spacing: 1px;
}

h2 {
  padding: 10px;
  padding-top: 2px;
  margin: 0px;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 16px;
}

#logo {
  height: 100px;
  width: 150px;
  padding-top: 5px;
}

#banner {
  background-color: rgba(1, 1, 1, 0.95);
  height: 110px;
  margin: 0px;
  padding: 0px;
}

#banner_title {
  color: #FFFFFF;
  float: left;
}

#banner_logo {
  float: left;
}

#bg_filter {
  background-color: #FFFFFF;
  opacity: 0.35;
}

div.nav {
  background-color: rgba(1, 1, 1, .95);
  width: 400px;
  height: 164px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.page_button {
  background-color: rgba(132, 132, 132, 1);
  width: 116px;
  height: 44px;
}

#create {
  float: left;
}

#explore {
  float: right;
}

.page_button:hover {
  background-color: rgb(83, 118, 130, 1);
  cursor: pointer;
}

.page_button_txt {
  color: #FFFFFF;
  opacity: 1;
  margin: auto;
  text-align: center;
  line-height: 44px;
  font-weight: 100;
  letter-spacing: 2px;
}

#nav_buttons {
  height: 44px;
  width: 290px;
  margin: auto;
  padding-top: 60px;
}

a {
  text-decoration: none;
}
''')
